.report {
  margin-bottom: 60px;
}
.complaint-page {
  overflow-x: hidden;
}
#complaints-form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title-date-container {
  display: flex;
}

.complaint-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-label {
  font-size: 30px;
}

#title {
  height: 50px;
  max-width: 800px;
  border-color: black;
  outline-style: none;
  box-shadow: none;
  text-align: left;
  display: table;
  vertical-align: top;
}

#content {
  height: 300px;
  max-width: 800px;
  border-color: black;
  outline-style: none;
  box-shadow: none;
  text-align: left;
  vertical-align: top;
}

.button {
  width: 30vh;
  height: 5vh;
  background: #98a24d;
  font-size: 20px;
  cursor: pointer;
  border: none;

  color: #ffff;
}

.button:hover {
  filter: drop-shadow(0.6mm 0.8mm rgb(200, 200, 200));
  transform: translate(0px, -3px) scale(1.05);
}

#date {
  height: 40px;
  max-width: 150px;
  border-color: black;
  outline-style: none;
  box-shadow: none;
}

.date-picker {
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: start;
}

.form-post {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 10px;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  font-size: 24px;
}

.image {
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 50px;
}

.view-complaints {
  text-decoration: none;
  color: #ffffff;
}

.report {
  margin-top: 30px;

  font-weight: 900;
  text-align: center;
  font-size: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 12px;
}

.report {
  text-align: center;
}
