@import url('./complaint.css');
@import url('./welcomepage.css');
@import url('./mainpage.css');
@import url('./login.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=League+Spartan:wght@500;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  font-family: 'League Spartan', sans-serif;
}
.navbar {
  background: linear-gradient(#98a24d, #c7d165);
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 24px;
}
.navbar-nav:hover .nav-link:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;

  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.navbar-collapse .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 30%;
}
.navbar-nav:hover.nav-link:hover {
  transform: scale(1);
}
.navbar-toggler {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
